<%= @post.user.username %>
<%= @post.title %>
<%= @post.category.name %>

<div class="posts-new-wrapper">
  <%= render 'layouts/form' %>
  <%= render 'layouts/text_editor' %>
</div>

<%= raw @post.content %>
