<header class="header">
  <div class="header-logo">
    <%= link_to image_tag("logo_b.png", class: "logo", alt: "Logo TheBergerie"), static_pages_home_path %>
    <h1 class="site-title">The Bergerie</h1>
    <h2 class="site-description">Le meilleur de l'élevage pop-culturel!</h2>
  </div>
  <div class="social-nav-block">
    <div class="header-social">
      <ul class="header-list social-list">
        <li><a>Suivez-nous!</a></li>
        <li><a href="https://www.facebook.com/thebergerie.net"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/thebergerie"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/thebergerie"><i class="fab fa-instagram"></i></a></li>
        <li><a href="http://thebergerie.tumblr.com/"><i class="fab fa-tumblr"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCz00sjGIwWCRbsVdf5Lcrtg"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div>
      <% if user_signed_in? %>
        <ul class="header-list nav-list header-admin">
          <li><%= link_to "Tableau de bord", posts_path %></li>
          <li><%= current_user.username %></li>
        </ul>
      <% end %>
    </div>
    <nav class="header-nav">
      <ul class="header-list nav-list">
        <li> <%= link_to "Home", static_pages_home_path %></li>
        <li> <%= link_to "Actualité", static_pages_news_path %></li>
        <li> <%= link_to "Art/Culture", static_pages_art_culture_path %></li>
        <li> <%= link_to "Cinéma", static_pages_cinema_path %></li>
        <li> <%= link_to "Musique", static_pages_music_path %></li>
        <li> <%= link_to "A propos", static_pages_about_path %></li>
      </ul>
    </nav>
  </div>
</header>